@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  background-color: #160023;
  color: white;
  font-family: roboto, sans-serif;
  font-size: 1.2em;
  margin: 0;
  overflow: hidden;
  position: fixed;
}

h1, h3 {
  text-align: center;
}

#main {
  background-image: linear-gradient(125deg, rgb(6, 52, 29) 0%, rgb(7, 62, 69) 100%);
  position: relative;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  place-items: center;
  flex-direction: column;
}

.spacer {
  display: flex;
  flex-grow: 1;
}

#heading {
  font-size: calc(min(4em, 15vw));
  margin: 0;
}

#headings {
  margin-bottom: 2em;
}

#content {
  text-align: center;
  font-size: 1.5em;
  margin: 2em;
  text-wrap: balance;
}

a, a:visited {
  color: #ff5252;
  text-decoration: none;
}

#content a {
  border: 1.5px solid black;
  border-radius: 0.4em;
  background-color: hsl(214, 82%, 42%);
  padding: 0.5em 1em;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 1em;
  color: white;
  user-select: none;
  transition: background-color 100ms;
  width: min(20rem, 80vw);
}

#content a:hover {
  background-color: hsl(214, 98%, 55%);
}

#gh-logo {
  transform: translateY(2px);
  margin-right: 0.3em;
}
